<% if user_signed_in? && @current_user==@user %>
	<% if session[:userTab] == "jobs" %>
		<li onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onmousedown=setUserTab("about");><a data-toggle="tab" href="#about">ABOUT US</a></li> 
   		<li class="active" onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onmousedown=setUserTab("jobs");><a data-toggle="tab" href="#jobs">JOBS</a></li>
   	<% else %>
   		<li class="active" onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onmousedown=setUserTab("about");><a data-toggle="tab" href="#about">ABOUT US</a></li> 
   		<li onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onmousedown=setUserTab("jobs");><a data-toggle="tab" href="#jobs">JOBS</a></li>
   	<% end %>
<% else %>
	<li class="active" onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this);><a data-toggle="tab" href="#about">ABOUT US</a></li> 
   	<li onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this);><a data-toggle="tab" href="#jobs">JOBS</a></li>
<% end %>