<div class="container" id="profileButtons">
<ul class="nav nav-tabs profileButtonContent">
<% if user_signed_in? && @current_user==@user %>
	<% if session[:home_tab] == "jobs" %>
		<li onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onmousedown=setHomeTab("about");><a data-toggle="tab" href="#about">ABOUT US</a></li> 
   		<li class="active" onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onmousedown=setHomeTab("jobs");><a data-toggle="tab" href="#jobs">JOBS</a></li>
   	<% else %>
   		<li class="active" onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onmousedown=setHomeTab("about");><a data-toggle="tab" href="#about">ABOUT US</a></li> 
   		<li onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onmousedown=setHomeTab("jobs");><a data-toggle="tab" href="#jobs">JOBS</a></li>
   	<% end %>
<% else %>
	<% if session[:nav_tab] == "jobs" %>
		<li onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onmousedown=setNavTab("about");><a data-toggle="tab" href="#about">ABOUT US</a></li> 
   		<li class="active" onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onmousedown=setNavTab("jobs");><a data-toggle="tab" href="#jobs">JOBS</a></li>
   	<% else %>
   		<li class="active" onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onmousedown=setNavTab("about");><a data-toggle="tab" href="#about">ABOUT US</a></li> 
   		<li onmouseover=buttonOpac(this); onmouseout=buttonRevOpac(this); onmousedown=setNavTab("jobs");><a data-toggle="tab" href="#jobs">JOBS</a></li>
   	<% end %>
<% end %>
</ul>
</div>