// Update notifications list
$('#notif-list').html("<li class=\"center-text\"> You have no notifications! </li>")

// Updates notifications page
$('#index-notifs').html("<li class=\"center-text\"> You have no notifications! </li>")
$('#del-all').hide();
$('#upd-all').hide();