<div class="container">
    <div class="">
        <% for activity in @activities %>
            <% if !activity["is_seen"] %>
            	<li class="unread"><%= render_activity activity %></li>
            <% else %>
                <li class="read"><%= render_activity activity %></li>
            <% end %>
       	<% end %>
    </div>
</div>