<div class="col-lg-6">
	<ul style="list-style-type: none;">
		<div id="index-notifs">
	  		<%= render 'shared/notifications', :local_activities => @activities %>
	  		<li><img id="ajax-loading" class="loading-image" src="<%=asset_path('loading.gif')%>" alt="Loading.." style="visibility:hidden;"></li>
	  	</div>
	</ul>
</div>
<% if @activities.count > 1 %>
	<div class="col-lg-1">
		<%= link_to delete_all_notifications_path, remote: true, method: "delete" do %>
			<span class="glyphicon glyphicon-trash"></span>
		<% end %>

		<%= link_to update_all_notifications_path, remote: true, method: "patch" do %>
			<span class="glyphicon glyphicon-ok"></span>
		<% end %>
	</div>
<% end %>