<footer>
<div class="container" style="padding-right: -15px;">
<h2>Project Partners</h2>
		<div class="footer-images", style="float:right">
			<%= image_tag "ubco.png", size: "33x45" %><!-- original dimensions are 99x135 -->
			<%= image_tag "wilfrid_laurier_seal.jpg", size: "50x50" %><!-- original dimensions are 301x300 -->
			<%= image_tag "brandon.png", size: "32x45" %><!-- original dimensions are 187x270 -->
			<%= image_tag "SSHRC-CRSH_FIP.jpg", size: "717x30" %><!-- original dimensions are 1507x63 -->
		</div>
	</div>
</footer>