<% for act in local_activities %>
	<% a = act["activities"][0] %>
	<% if act["is_read"] %>
		<li class= "read"> 
	<% else %>
		<li class= "unread"> 
	<% end %><%= render_activity act %>
		<span style="float:right;">
			<%= link_to raw("<span class=\"glyphicon glyphicon-unchecked\"></span>"), notifications_path(id: a["id"]), remote: true, method: "patch" %>
			<%= link_to raw("<span class=\"glyphicon glyphicon-remove\"></span>"), notifications_path(id: a["id"]), remote: true, method: "delete" %>
		</span><br>
		<span>&nbsp;<%=from_current_time(a["object"].created_at)%> ago</span>
	</li>
<% end %>

