<!-- Introduction Row -->
<div class="padding-top-60 row">
    <div class="padding-bottom-50 col-md-12">
        <h1 class="page-header">About Us</h1>
        <p>This is a research project that focuses on helping youths who are highly engaged online in developing related job skills that are useful in the local businesses. We know that many of todays’ youths use technologies regularly and are very skilled. One goal of the research is to develop software that will match skilled youth with businesses in the local area searching for employees with technology skills.</p>
    </div>
</div>

<!-- Objectives Row -->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h2 class="page-header">Our Objectives </h2>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 text-center">
        <%= image_tag "About1.svg",class: "img-circle about-image" %>
        <br> 
        <p>Deepen our understanding which skills are in high demand in which industries. </p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 text-center">
        <%= image_tag "About2.svg",class: "img-circle about-image" %>
        <br> 
        <p>Increase awareness of the employability of digital skills.</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 text-center">
        <%= image_tag "About3.svg",class: "img-circle about-image" %>
        <br> 
        <p>Improve the competitive position of small/medium sized businesses in the digital economy. </p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 text-center">
        <%= image_tag "About4.svg",class: "img-circle about-image" %>
     	<br>
        <p>Yield immediate employment opportunities. </p>
    </div>
            
</div>

<hr>