
		<div class="signupbox">
			<div class="row">
				<div class="col-md-12">
					<div class="titlebox">
						<h4><b>Sign Up Now!</b></h4>
					</div>
				</div>
			</div>
			<br />
			<div class="row" style="height: calc(100% - 106px);">
				<div class="col-md-6">
					<a href="signup_jobseeker" class="signuplink">I am a Job Seeker</a>
					<ul style="text-align: left;">
						<li><h4>Connect with local employers</h4></li>
						<li><h4>Showcase your projects & skills</h4></li>
						<li><h4>Request a reference from people both on and off of the site</h4></li>
						<li><h4>Apply for a job</h4></li>
						<li><h4>Discover new digital skills</h4></li>
					</ul>
				</div>
				<div class="col-md-6">
					<a href="signup_employer" class="signuplink">I am an Employer</a>
					<ul style="text-align: left;">
						<li><h4>Connect with local job seekers</h4></li>
						<li><h4>Post jobs for job seekers</h4></li>
						<li><h4>Show case your company and leave info explaining who you are</h4></li>
					</ul>
				</div>
			</div>
			<div class="footerbox">
				<h5>Already a member? <a href="users/sign_in">Login</a></h5>
			</div>
		</div>

