<div class="all">

<div class="description">
<h1 style="margin-left:40px;"><b>Edge Map</b></h1><br />
<ul>
<li><h4>Connect with local employers</h4></li>
<li><h4>Connect with job seekers</h4></li>
<li><h4>Showcase your projects & skills</h4></li>
<li><h4>Upload your resume</h4></li>
<li><h4>Request for a reference</h4></li>
<li><h4>Apply for a job</h4></li>
<li><h4>Discover new digital skills</h4></li>
<li><h4>and more!</h4></li>
</ul>
</div>

<div class="signupbox">
	<div class="titlebox">
	<h4><b>Sign Up Now!</b></h4>
	</div>
	<br />
	<a href="welcome/signup_jobseeker" class="signuplink">I am a Job Seeker</a>
	<a href="welcome/signup_employer" class="signuplink">I am an Employer</a>
	<br /><br />
	<h5>Already a member? <a href="users/sign_in">Login</a></h5>
</div>
</div>
