
<div class="row landing" style="margin-left: 0px; margin-right: 0px;">
	<div class="col-md-6 col-xs-6">
	</div>
	<div class="signupbox col-md-5 col-xs-5">
		<div class="row">
			<div class="titlebox">
				<h4><b>Sign Up Now!</b></h4>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-6">
				<a href="signup_jobseeker" class="signuplink">I'm a Job Seeker</a>
				<ul style="text-align: left;">
					<li><h4>Connect with local employers</h4></li>
					<li><h4>Discover new digital skills</h4></li>
					<li><h4>Identify skills in demand</h4></li>
					<li><h4>Request a reference from people both on and off of the site</h4></li>
				</ul>
			</div>
			<div class="col-md-6">
				<a href="signup_employer" class="signuplink">I'm an Employer</a>
				<ul style="text-align: left;">
					<li><h4>Connect with local job seekers</h4></li>
					<li><h4>Post jobs for job seekers</h4></li>
					<li><h4>Compare skillsets among job applicants</h4></li>
					<li><h4>Use standardized technology terms for jobs</h4></li>
				</ul>
			</div>
		</div>
		<br />
		<div class="footerbox row">
			<h5>Already a member? <a href="users/sign_in">Login</a></h5>
		</div>
	</div>
	<div class="col-md-1 col-xs-1">
	</div>
</div>

<div class="row" style="padding-top:50px;">
	<div class="col-md-4">
		<h3 style="padding-bottom: 3px;">Tips for Job Seekers</h3>
		<ul style="text-align: left;">
			<li><a href="https://www.livecareer.com/quintessential/teen-first- job">Tips for first job</a></li>
			<li><a href="http://careers.workopolis.com/advice/the-most-commonly-asked-job-interview-questions-and-how-to-answer-them/">Common interview questions</a></li>
			<li><a href="https://www.themuse.com/advice/how-to-write-a-cover-letter-31-tips-you-need-to-know">Tips for a cover letter</a></li>
			<li><a href="http://www.relaunchyourcareer.co.uk/job-interviews/six-secrets-to-doing-well-at-interview/">Prepare for the interview</a></li>
			<li><a href="https://biginterview.com/blog/2015/02/how-to-sell-yourself-in-an-interview.html">Interview tips</a></li>
		</ul>
	</div>

	<div class="col-md-4">
		<h3 style="padding-bottom: 3px;">Tips for Employers</h3>
		<ul style="text-align: left;">
			<li><a href="http://www.businessknowhow.com/manage/millenials.htm">Tips for Millenials in the workspace</a></li>
			<li><a href="https://business.linkedin.com/talent-solutions/blog/2013/12/8-millennials-traits-you-should-know-about-before-you-hire-them">Millenial traits</a></li>
			<li><a href="http://wallstreetinsanity.com/15-important-qualities-millennials-look-for-where-they-work/">What Millenials want</a></li>
			<li><a href="https://businesscollective.com/37-ideas-for-motivating-your-employees/">Motivating employees</a></li>
			<li><a href="http://hr.blr.com/whitepapers/Staffing-Training/Employee-Turnover/Strategies-for-Retaining-Employees-and-Minimizing-">Employee retension</a></li>
		</ul>
	</div>

	<div class="col-md-4">
		<h3 style="padding-bottom: 3px;">System Announcements</h3>
		<ul style="text-align: left;">
			<li>Check us out on <a hred="https://www.facebook.com/EdgeMapJobs/">Facebook</a></li>
		</ul>
	</div>
</div>
