<%= render "users/shared/profile" %>

<%= render partial: "shared/job_seeker_tabs", locals: {active: "projects" } %>

<h4><b>Edit your Project.</b></h4>
<p>Feel free to update your project below and update as necessary.</p>

<%= render 'projects/project_form' %>