<%= render "users/shared/profile" %>

<%= render partial: "shared/job_seeker_tabs", locals: {active: "projects" } %>

<h4><b>New Project</b></h4>
<p>Fill out the form below to create a project to display on your profile.</p>

<%= render 'projects/project_form' %>
