<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @name %> would like to contact you.</h1>
    <p>Please check the message below.  They can be contacted at <%= @contact_email %>.</p>
    <p><%= @message %></p>
  </body>
</html>