<div class="signupbox col-md-5 col-xs-5">
	<div class="row">
		<div class="titlebox">
			<h4><b>Welcome <%= current_user.first_name + " " + current_user.last_name %></b></h4>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12">
			<ul style="text-align: left;">
				<h4>
					<%= render 'shared/user_buckets' %>
				</h4>
			</ul>
		</div>
	</div>
	<br />
	<div class="footerbox row">
		<%= link_to 'Go To My Profile', user_path(current_user), style: "color: white;" %>
	</div>
</div>