<div class="signupbox col-md-5 col-xs-5">
	<div class="row">
		<div class="titlebox">
			<h4><b>Welcome <%= current_user.first_name + " " + current_user.last_name %></b></h4>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12">
			<%= link_to 'My Profile', user_path(current_user), class: 'signuplink', style: "color: white;" %>
			<ul style="text-align: left;">
				<h4>
					<%= render 'shared/user_buckets' %>
				</h4>
			</ul>
		</div>
	</div>
	<br />
	<div class="footerbox row">
		<h5>Already a member? <a href="users/sign_in" style="">Login</a></h5>
	</div>
</div>