<div class="signupbox col-md-5 col-xs-5">
	<div class="row">
		<div class="titlebox">
			<h4><b>Sign Up Now!</b></h4>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-6">
			<a href="signup_jobseeker" class="signuplink">I'm a Job Seeker</a>
			<ul style="text-align: left;">
				<li><h4>Connect with local job providers</h4></li>
				<li><h4>Discover new digital skills</h4></li>
				<li><h4>Identify skills in demand</h4></li>
				<li><h4>Request a reference from people both on and off of the site</h4></li>
			</ul>
		</div>
		<div class="col-md-6">
			<a href="signup_employer" class="signuplink">I'm a Job Provider</a>
			<ul style="text-align: left;">
				<li><h4>Connect with local job seekers</h4></li>
				<li><h4>Post jobs for job seekers</h4></li>
				<li><h4>Compare skillsets among job applicants</h4></li>
				<li><h4>Use standardized technology terms for jobs</h4></li>
			</ul>
		</div>
	</div>
	<br />
	<div class="footerbox row">
		<h5>Already a member? <a href="users/sign_in">Login</a></h5>
	</div>
</div>