<% a = activity["activities"][0] %>
<span class="notification" onclick="window.location='<%=references_path(a['object'])%>'">
	<%= a['object'].first_name%> <%=a['object'].last_name%> gave you a reference!
</span>