<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-8">
		<% if survey_results[0][:name]=="Average Job Seeker" %>
			<%= column_chart survey_results, min: 0, max: 3, library: { hAxis: {slantedText: true, slantedTextAngle: 30 }, legend: { position: "top" }, chartArea: {left: 50, width: '100%'}, series:{0 => {type: "line"}}, vAxis: { ticks: [{v: 0, f: "None"}, {v: 1, f: "Few"}, {v:2, f:"Half"}, {v: 3, f:"Most"}]}} %>
		<% else %>
			<%= column_chart survey_results, min: 0, max: 3, library: { hAxis: {slantedText: true, slantedTextAngle: 30 }, legend: { position: "top" }, chartArea: {left: 50, width: '100%'}, vAxis: { ticks: [{v: 0, f: "None"}, {v: 1, f: "Few"}, {v:2, f:"Half"}, {v: 3, f:"Most"}]}} %>
		<% end %>
	</div>
</div>
<br />

<% if survey_title == 'Time, Project, People' %>
	<p>There are 3 skill classifications: Time, Project, and People. Each classification has a list of skills associated with it.  Users rate themselves based on how well they know each group of skills: None of the skills, a few of the skills, half of the skills, or most/all of the skills.</p>
<% elsif survey_title == '21st Century Skills' %>
	<p>There are 4 skill classifications: Communication, Problem Solving, Self-Directed Skills, and Accountability. Each classification has a list of skills associated with it.  Users rate themselves based on how well they know each group of skills: None of the skills, a few of the skills, half of the skills, or most/all of the skills.</p>
<% else %>
	<p>There are 4 skill levels: Basic, Intermediate, Advanced, and Expert. Each level has a list of skills associated with it.  Users rate themselves based on how well they know each group of skills: None of the skills, a few of the skills, half of the skills, or most/all of the skills.</p>
<% end %>

<div class="row">
<% @questions.each_with_index do |question, index| %>
	<div class="col-xs-12 col-sm-6 col-md-3">
	<h4><b><%= question.classification %></b></h4>

	<ul>
		<% question.prompts.each do |p| %>
			<li class="alternate"><%= p.prompt %></li>
		<% end %>
	</ul>
	</div>
	<% if index%2 == 1 %>
		<div class = "clearfix visible-sm"></div>
	<% end %>
<% end %>