<%= render "users/shared/profile" %>

<%= render partial: "shared/employer_tabs", locals: { active: "jobs", survey: true } %>

<h4><b>Category: <%=@survey.format_title.html_safe%></b></h4>

<%= render partial: "surveys/display", locals: { survey_results: @survey_results, survey_title: @survey.title } %>