<%u = activity.trackable %>
<div>
	<%= image_tag u.image.url, alt:"User Icon", class:"notif-image" %>
	Hi <%= u.first_name%>, Welcome to <%=request.host.titlecase%>!<br>
	<%= local_time_ago(activity.created_at) %>
</div>
<div style="clear:both;"></div>