<% if user_signed_in? && @company.id == current_user.id%>
	<h3> Your Job Postings </h3><br>
<% else %>
	<h3> Job Postings for <%= @company.company_name%> </h3><br>
<% end %>
<% @job_postings.each do |j| %>
	<%= link_to "#{j.title}\n", job_posting_path(j) %><br/>
<% end %>
<% %>
<% if user_signed_in? && @company.id == current_user.id%>
	<br>
	<%= link_to "Create a New Posting", new_job_posting_path %>
<% end %>
