<%= render "users/shared/profile" %>

<%= render partial: "shared/site_tabs", locals: { active: 'new_job', user_path: user_path(@user) } %>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<h4><b>New Job Posting</b></h4>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<p>Fill out the form below to create a job posting for job seekers.</p>
	</div>
</div>

<%= render 'job_postings/job_posting_form' %>