<% if @job_posting.is_expired? %>
	<p>This job posting is expired.</p>
	<% if user_signed_in? && current_user.id == @job_posting.user_id %>
		<p> It will no longer be visible to other users. </p>
		<%= render 'job_postings/job_posting' %>
	<% end %>
<% else %>
	<%= render 'job_postings/job_posting' %>
<% end %>
