// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notif-bar{
	width:350px;
	padding-top: 1px;
}

#notif-list{
	overflow-y:auto;
	max-height:350px;
}

.notification{
	border: 1px solid lightgrey;
	padding: 2px 5px 2px 5px;
	height: 50px;
}

.notif-inside{
	padding: 2px 5px 2px 5px;
}

.read {
	@extend .notification;
}

.unread{
	@extend .notification;
	background-color: #edeef3;
}

.options{
	float:right;
}

.content{
	float:left;
	width:95%
}

.center-text{
	text-align:center;
}

.notifications-icon{
	color: black;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}