// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.project-info-row {
	margin-right: -30px !important;
}

.project-info-padding {
	padding-bottom: 20px;
}

span.glyphicon-red {
	color: red;
}