// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jcrop-holder div{
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    margin: -1px;
}

.image-display {
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
}

.profile-image {
	display: block;
	border-radius: 50%;
	margin-left: auto;
	margin-right :auto;
}

.survey-box-row{
	display: -webkit-flex;
}

label {
	padding-right: 5px;
}

ul.nav-tabs > li.active > a {
	font-weight: bold;
}

.survey-box{
	padding: 10px 30px 30px 80px;
	text-align:center;
	border-style: solid;
    border-width: 2px;
    margin:-1px 0 0 -1px;
}

.unanswered{
	position: fixed;
	 left: 0;
	 right: 0;
	 top: 0;
	 bottom: 0;
	 background-color: Silver;
	 -moz-opacity:.60;
	 filter:alpha(opacity=60);
	 opacity:.60;
	 z-index: 10000000;
}

.survey-table{
	margin: 5px 0px 5px 0px;

}

//Projects

.project-skill{
 display: inline-block; 
 }

//References
.HR
{
	border: 0;
    	height: 1px;
    	background: #333;
    	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
#ref, #ref2
{
	//border: 2px solid red;
	width: 100%;
	overflow: hidden;
}
#refImage, #refImage2
{
	height: 150px;
	width: 150px;
	//border: 2px solid blue;
}
#refName, #refName2
{
	font-size: 32px;
}
//Aligns all items for left side of the displayed reference
.refLeft
{
	margin-left: 2%;
}
//Aligns all items for Right side of the displayed reference
.refRight
{
	margin-left: 70%;
	margin-top: 4%;
}
//Aligns all items for centre of the displayed reference
.refCentre
{
	margin-left: 35%;
	margin-top: 4%;
}
.contactElm
{
	margin-left: 6%;
}
#contact, #contact2
{
	width: 60%;
	height: 10%;
	float: right;
}
#relEmployment, #relEmployment2
{
	float: right;
	overflow: hidden;
	width: 60%;
}
#relProjects, #relProjects2
{
	float: right;
	overflow: hidden;
	width: 60%;
}
#left, #left2
{
	//border: 2px solid blue;
	width: 25%;
	float: left;
}
#centre, #centre2
{
	//border: 2px solid yellow;
	width: 50%;
	overflow: hidden;
	float: left;
}
#right, #right2
{
	//border: 2px solid purple;
	width: 25%;
	overflow: hidden;
}

//Profile
.flashContainer
{
	border: 2px solid red;
	height: 60px;
}
.profileContainer
{
	margin: 0 auto;
	//border: 2px solid black;
}
.profileContainerImage
{
	border-radius: 5px;
	border: 2px solid grey;
	height: 200px;
	width: 250px;
	float: left;
	padding: 23px;
	margin: 0 auto;
	background: #FFFFFF;
}
.profileFrame
{
	//border: 2px solid red;
	height: 156px;
	width: 306px;
	position: relative;
	//box-shadow: 0 12px 10px -12px hsla(0, 0%, 0%, 1);
}
.profileFrame img
{
	height: 152px;
	width: 302px;
	position: relative;
}
.profileContainerContent
{
	width: 600px;
	height: 300px;
	margin-left: 275px;
	//border: 2px solid blue;
}
.profileContainerContent input
{
	border-radius: 5px;
}
#github
{
	background-color: Transparent;
    	background-repeat:no-repeat;
    	border: none;
    	overflow: hidden;
    	outline:none;

	margin: 3px;
	color: #000000;

	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;

	opacity: 0.6;
}
#linkedin
{
	background-color: Transparent;
    	background-repeat:no-repeat;
    	border: none;
    	overflow: hidden;
    	outline:none;

	margin: 3px;
	color: #0077B5;

	border-top: 2px solid #0077B5;
	border-bottom: 2px solid #0077B5;

	opacity: 0.6;
}
#twitter
{
	background-color: Transparent;
    	background-repeat:no-repeat;
    	border: none;
    	overflow: hidden;
    	outline:none;

	margin: 3px;
	color: #52B4D9;

	border-top: 2px solid #52B4D9;
	border-bottom: 2px solid #52B4D9;

	opacity: 0.6;
}
#facebook
{
	background-color: Transparent;
    	background-repeat:no-repeat;
    	border: none;
    	overflow: hidden;
    	outline:none;

	margin: 3px;
	color: #3B5998;

	border-top: 2px solid #3B5998;
	border-bottom: 2px solid #3B5998;

	opacity: 0.6;
}
.tab-content
{
	width: 100%;
}
.tab-content div
{
    	margin: 0 auto; 
}
#profileButtons
{
	//border: 2px solid blue;
	overflow: hidden;
}
.profileButtonContent
{
	float: right;
}
.profileButtons
{
	//border: 2px solid green;
	height: 60px;
	width: 800px;
	position: absolute;
	bottom: 75px;
	right: 10px;
}
.profileButtonContent li
{
    	background-color: Transparent;
    	background-repeat:no-repeat;
    	border: none;
    	overflow: hidden;
    	outline:none;

	width: 175px;
	margin: 3px;
	color: #01B1AF;

	border-top: 2px solid #01B1AF;
	border-bottom: 2px solid #01B1AF;

	opacity: 0.6;
}

.editProfileImage
{
	float: left;
    clear: both;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: -40px;
}
.profileButtonResume
{
	//border: 2px solid yellow;
	height: 60px;
	width: 200px;
	margin: 0 auto;
	margin-right: 10px;
	margin-top: -300px;
	//margin-right: 1000px;
}
.profileButtonResume input
{
    	background-color: #01B1AF;
    	background-repeat:no-repeat;
    	border: 2px solid #01B1AF;
    	overflow: hidden;
    	outline:none;

	height: 40px;
	width: 150px;
	margin: 3px;
	color: white;
	position: relative;

}
.resumeShadowBox
{
	position: absolute;
}
.bottom
{
	box-shadow: 4px 4px 8px 0 black;
	width: 72px;
	height: 40px;
	margin-left: 74px;
	margin-top: 2px;
}
.left
{
	box-shadow: 4px 4px 20px 0 grey;
	width: 20px;
	height: 38px;
	margin-left: 132px;
	margin-top: 6px;
}
#shadow-arch-edges {
  position: relative;
  box-shadow: 0 12px 10px -12px hsla(0, 0%, 0%, 1);
}

#shadow-arch-edges:before, #shadow-arch-edges:after {
  position: absolute;
  content: "";
  width: 15%;
  bottom: 10px;
  box-shadow: 0 0 12px 20px hsla(0, 0%, 0%, .5);
  z-index: -10;
}

#shadow-arch-edges:before {
  left: 30px;
  transform: skewY(-10deg);
}


#shadow-arch-edges:after{
  right: 30px;
  transform: skewY(10deg);
}


li.skill {
	opacity: 1.0;
	color: #333333;
	border: 0px;
	overflow: visible;
}
//Partials
//#survey-table,
//#references,
//#projects,
//#job-posting,
//#skills
//{
//	display: none;
//}
