// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.survey-box-row{
	//Trying to get flexbox working
	display: -webkit-flex;
}

.survey-box{
	padding: 10px 30px 30px 80px;
	text-align:center;
	border-style: solid;
    border-width: 2px;
    margin:-1px 0 0 -1px;
}

.unanswered{
	background-color: Silver;
}

.survey-table{
	margin: 5px 0px 5px 0px;

}