// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.employee {
	float: left; 
}

.employer {
	float: left;
}

body.welcome li {
	padding-top: 2px;
}

.round-border {
	border-radius: 4px !important;
}

.landing{
	background-image:asset-url("homepage.svg"), linear-gradient(to bottom, #89bcf4 0%, #89bcf4 100%), linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
	background-clip: content-box, padding-box;
	height: calc(100% - 65px); 
	background-position:bottom left;
	background-repeat:no-repeat;
	background-size: calc(74%) 500px, auto, auto, auto, auto;
}

.btn-sq:active, .btn-sq:focus, .btn-sq:target, .btn-sq:hover{
	background-color: #89bcf4 !important;
	color: #646464 !important;
	border-color: #646464 !important;
}
.btn-sq {
	background-color: #e0fbff !important;
	color: #646464 !important;
	border-color: #646464 !important;
}

.description{
	width: 40%;
	float: left;
	margin-left: 45px;
}

body.welcome.index div.alert{
	border-radius: 0px;
	margin-bottom: 0px;
}

body.welcome.index nav.navbar {
	margin-bottom: 0px;
}

.infobox{
	margin-top: 65px;
	border: none;
	border-radius: 5px;
	background-color: rgb(23, 102, 136) ; 
	text-align: center;
	position: relative;
	height: calc(100% - 65px);
	top: 41px;
	color: white;
}

.signupbox{
	margin-top: 65px;
	border: none;
	border-radius: 5px;
	background-color: #e0fbff; 
	text-align: center;
	position: relative;
	height: calc(100% - 65px);
	top: 41px;
	color: #207699;
}

.signupbox a {
	color: blue;
}

.titlebox{
	border:none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #207699; 
	text-align: center;
	color: white;
}
.footerbox{
	border:none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #207699; 
	text-align: center;
	color: white;
}

.footerbox a {
	color: white;
}

.footerbox a:hover {
	color: white;
}

.signuplink {
    background-color: #207699;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
}
