<% if !results.nil? %>
	<% results.each do |r|%>
		<% path = search_nav_path(obj:r.class.name,obj_id:r.id,id:results.search.id,path:polymorphic_path(r))%>
		<div class="alternate row search-result" id="search-result-<%="#{r.class.name}-#{r.id}"%>" onclick="window.location='<%=path%>'">
			<%= render "searches/results/#{r.class.name.downcase}", result: r %>
		</div>
	<% end %>
<% end %>

